h2{
    margin-left: 30px;
}
dt{
    font-size: 25px;
    font-weight: bold;
    line-height: 3rem;
    margin-left: 30px;
}

 li {
    font-size: 20px;
    line-height: 3rem;
    margin-left: 2.5rem;
 }

 